.text-shadow {
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.same-size {
    object-fit: contain;
    height:100%;
    align-items: center;
}

#margin {
    margin-bottom: 0px;
}

/* Fonts recipe card*/
.tittle {
    font-family: "Fredericka the Great", cursive;
    font-weight: 300;
}

.ingredient-font {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

.method-font {
  font-family: 'Architects Daughter', cursive;   
}

.close-font {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
}

.btn-small {
    margin: 5px;
}



/*base.html*/
.flashes h4 {
    line-height: 2;
}

.social-icon {
    margin: 10px;
    color: white;
    font-size: 1.7rem;
}

.social-icon:hover {
    color: black;
}

/*sticky footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
        flex: 1 0 auto;
  }
    

/*home.html*/
.bg-header {
    background-image: url("../images/cookbook_background.jpg");
    background-position: 50% 30%; 
    background-repeat: no-repeat;
    opacity: 1;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 25vh;
}

.shadow {
    background-color: rgb(202 149 149 / 39%)
}
    
.sepia {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 20vh !important;
    align-items: center;
    -webkit-filter: sepia(30) hue-rotate(100deg);
        filter:sepia(30) hue-rotate(100deg);
}

/*recipes.html*/
.height-card {
    height: 600px;
} 

.height-img-card {
    margin: auto;
} 


/* it does not affect the recipes.html check if affect sg else and erase */
.card-recipes-content {
    height: 150px;
}

/* Pagination */
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}


/*view_recipes.html*/
/* .single-recipe {
    border-bottom: 1px solid #c5b9a0;
    margin-bottom: 15px;
} */ 

.subheading {
    color: #a3865b;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
}

.created {
    text-transform: lowercase;   
}

.bold {
    font-weight: bold;
}

.category-tittle {
    font-weight: 700;
    padding: 1px !important;
    text-transform:uppercase;
}

.ingredients-bullets ul:not(.browser-default)>li {
  list-style-type: circle;
  margin-left: 10px;
}

.instructions {
  background-color: #ffffff;
  padding: 20px 30px 20px 30px;
  box-shadow: 2px 2px 5px #777777;
  margin-bottom: 25px;
}

.instructions ul:not(.browser-default)>li {
  list-style-type: circle;
  margin-left: 10px;
}

/*myrecipes.html*/

.myrecipes-h4 {
    font-family: 'Gloria Hallelujah', cursive;
}

.myrecipes-h5 {
    font-family: 'Josefin Slab', serif;
}

/*add_recipes.html*/
.custom-prefix {
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color .2s;
    transition: color .2s;
    top: .5rem;
}

.ingredient-title {
    display: inline !important;
    margin-left: .4rem;
    padding-bottom: .4rem;
}

/*categories.html*/
.reduce-size {
    height: 70px;
}
