.text-shadow {
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.same-size {
    object-fit: contain;
    height:100%;
    align-items: center;
}

#margin {
    margin-bottom: 0px;
}

/* Fonts recipe card*/
.tittle {
    font-family: "Fredericka the Great", cursive;
    font-weight: 300;
}

.ingredient-font {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

.method-font {
  font-family: 'Architects Daughter', cursive;   
}

.close-font {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
}


/* #custom {
    display: block;
    margin: auto;
    height: 20vh;
    align-items: center;
    -webkit-filter: sepia(30) hue-rotate(100deg);
        filter:sepia(30) hue-rotate(100deg);
} */

.btn-small {
    margin: 5px;
}



/*base.html*/
.flashes h4 {
    line-height: 2;
}

.social-icon {
    margin: 10px;
    color: white;
    font-size: 1.7rem;
}

.social-icon:hover {
    color: black;
}

/*sticky footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
        flex: 1 0 auto;
  }
    

/*home.html*/
.bg-header {
    background-image: url("../images/cookbook_background.jpg");
    background-position: 50% 30%; 
    background-repeat: no-repeat;
    opacity: 1;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 25vh;
}

.shadow {
    background-color: rgb(202 149 149 / 39%)
}
    
.sepia {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 20vh !important;
    align-items: center;
    -webkit-filter: sepia(30) hue-rotate(100deg);
        filter:sepia(30) hue-rotate(100deg);
}

/*recipes.html*/
.fit-size {
    height: 100vh;
} 

.card .card-image {
    height: 800px;
}

.card .card-content {
    height: 150px;
}

/*view_recipes.html*/
.padding {
    padding: 1px !important;
}

ol ul {
  list-style-type: circle !important;
}

/*categories.html*/
.reduce-size {
    height: 70px;
}
