{% extends "base.html" %}
{% block content %}

    <h3 class="tittle center-align light-blue-text">Add your Recipe now!</h3>

    <section class="container">
        <div class="row card-panel grey lighten-5">
            <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
                <!-- Category selection-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix light-blue-text"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category_name">Category Name</label>
                    </div>
                </div>
                <!-- Recipe name-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-blue-text"></i>
                        <input id="recipe_name" name="recipe_name" minlength="5"
                            maxlenght="50" type="text" class="validate" required>
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                </div>
                <!-- Description-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix light-blue-text"></i>
                        <textarea id="recipe_description" name="recipe_description" data-length="300" 
                            class="materialize-textarea validate"></textarea>
                        <label for="recipe_description">Description</label>
                    </div>
                </div>
                <!-- Recipe details-->
                <div class="row">
                    <!-- Difficulty-->
                    <div class="input-field col s12 m6">
                        <i class="fas fa-signal prefix light-blue-text"></i>
                        <select id="recipe_difficulty" name="recipe_difficulty" class="validate" required>
                            <option value="" disabled selected>Chooce difficulty</option>
                            {% for difficulty in difficulty %}
                            <option value="{{ difficulty.recipe_difficulty }}">{{ difficulty.recipe_difficulty }}</option>
                            {% endfor %}
                        </select>
                        <label for="recipe_difficulty">Difficulty</label>
                    </div>
                    <!-- Cook time-->
                    <div class="input-field col s12 m6">
                        <i class="fas fa-clock material-icons prefix light-blue-text"></i>
                        <input id="cooking_time" name="cooking_time" min="5" max="60" 
                        type="time" class="validate" required>
                        <label for="cooking_time">Cooking in :</label>
                    </div>
                </div>
                <!-- Basic ingredients-->
                <div class="row">
                    <div class="input-field col s12">
                        <div class="card">
                            <div class="card-content">
                                <i class="fas fa-shopping-basket custom-prefix light-blue-text"></i>
                                <span class="card-title ingredient-title">Basic Ingredients</span>
                                <div class="addIngredient new-ingredient ingredient">
                                    <label for="basic_ingredients">Ingredients follow example format!</label>
                                    <input id="basic_ingredients" name="basic_ingredients[]" type="text" minlength="1" maxlength="100"
                                        placeholder="100gr onion, finely chopped"  class="ingredients validate" required>
                                </div>    

                                <p class="center">
                                    <!-- Add-ingredient button -->
                                    <a id="add_ingredient" class="btn-floating green"><i class="material-icons">add</i></a>
                                    <!-- Remove-ingredient button -->
                                    <a id="remove_ingredient" class="btn-floating red lighten-1"><i class="material-icons">remove</i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Complementary ingredients-->
                <div class="row">
                    <div class="input-field col s12">
                        <div class="card">
                            <div class="card-content">
                                <i class="fas fa-plus-square custom-prefix light-blue-text"></i>
                                <span class="card-title ingredient-title">Complement with: </span>
                                <div class="addCompIngredient new-CompIngredient compIngredient">
                                    <label for="complementary_ingredients">Complement ingredients follow example format!</label>
                                    <input id="complementary_ingredients" name="complementary_ingredients[]"  type="text" minlength="1" 
                                        maxlength="100" placeholder="100gr green onion, finely chopped" class="validate">
                                </div>    

                                <p class="center">
                                    <!-- Add-complementary-ingredient button -->
                                    <a id="add_comp_ingredient" class="btn-floating green"><i class="material-icons">add</i></a>
                                    <!-- Remove-complementary-ingredient button -->
                                    <a id="remove_comp_ingredient" class="btn-floating red lighten-1"><i class="material-icons">remove</i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Steps-->
                <div class="row">
                    <div class="input-field col s12">
                        <div class="card">
                            <div class="card-content">
                                <i class="fas fa-utensils custom-prefix light-blue-text"></i>
                                <span class="card-title ingredient-title">Steps</span>
                                <div class="addpreparation preparation new-step">
                                    <label for="recipe_method">Steps follow example format!</label>
                                    <input id="recipe_method" name="recipe_method[]" type="text" 
                                        placeholder="Fill a large pan with salted water, place on a high heat and bring to the boil." 
                                        class="validate" required>
                                </div>    

                                <p class="center">
                                    <!-- Add-step button -->
                                    <a id="add_step" class="btn-floating green"><i class="material-icons">add</i></a>
                                    <!-- Remove-step button -->
                                    <a id="remove_step" class="btn-floating red lighten-1"><i class="material-icons">remove</i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Closing line-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-exclamation prefix light-blue-text"></i>
                        <textarea id="closing_line" name="closing_line" data-length="100" 
                            class="materialize-textarea validate"></textarea>
                        <label for="closing_line">Tips or Remarks!</label>
                    </div>
                </div>
                <div class="row">
                <!-- Share online checkbox-->
                    <div class="input-field col s6">
                        <div class="switch">
                            <i class="far fa-thumbs-up prefix light-blue-text"></i>
                            <label for="share_recipe">
                                <input type="checkbox" id="share_recipe" name="share_recipe">
                                <span class="lever"></span>
                                Would you like to share this recipe with others?
                            </label>
                        </div>
                    </div>
                    <!-- Add image url-->
                    <div class="input-field col s6">
                        <i class="fas fa-camera material-icons prefix left light-blue-text"></i>
                        <input id="recipe_images" name="recipe_images" class="validate" type="url" minlength="15" 
                            value="{{ recipe_images }}" pattern="https?://.+">
                        <label for="recipe_images">Image Url</label>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 left">
                        <button type="submit" class="btn-large light-blue  text-shadow">
                            Add Recipe <i class="fas fa-book-open right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>   


{% endblock %}