{% extends "base.html" %}
{% block content %}

    <h3 class="tittle center-align light-blue-text">Add Category</h3>

    <section class="container">
        <div class="row card-panel grey lighten-5">
            <form class="col s12" method="POST" action="{{ url_for('add_category') }}">
                <!-- New Category_Name-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix"></i>
                        <input id="category_name" name="category_name" 
                        type="text" value="{{ category_name }}" class="validate" required>
                        <label for="category_name">Category Name</label>
                    </div>
                </div>
                <!-- New Category_Image Url-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-camera material-icons prefix"></i>
                        <input id="category_image" name="category_image" pattern="https?://.+"  
                        type="url" value="{{ category_image }}" class="validate">
                        <label for="category_image">Image Url</label>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 left center">
                        <button type="submit" class="btn-large light-blue  text-shadow">
                            Add Category <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section> 


{% endblock %}