<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" 
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Recipes Manager</title>
</head>
<body>

    <header>
    <!-- top navbar-->
        <nav class="nav-extended text-shadow  blue-grey lighten-2">
            <div class="nav-wrapper">
            <a href="{{ url_for('get_recipes') }}" class="brand-logo black-text"><i class="fas fa-book fa-1.5x"> B A S E </i></a> 
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('get_recipes') }}" class="grey-text text-darken-4">Home</a></li>
                <li><a href=".html" class="grey-text text-darken-4">Recipe Search</a></li>
                <li><a href=".html" class="grey-text text-darken-4">Ingredients index</a></li>
                {% if session.user %}
                    <li><a href="{{ url_for('myrecipes', username=session['user']) }}" class="grey-text  text-darken-4">MyRecipes</a></li>
                    <li><a href="{{ url_for('add_recipe') }}" class="grey-text text-darken-4">Add a recipe</a></li>
                    <li><a href="{{ url_for('sign_out') }}" class="grey-text  text-darken-4">Sign Out!</a></li>
                {% else %}
                    <li><a href="{{ url_for('sign_in') }}" class="grey-text  text-darken-4">Sign In!</a></li>
                    <li><a href="{{ url_for('join_free') }}" class="grey-text  text-darken-4">Join Free</a></li>
                {% endif %}
            </ul>
            </div>
        </nav>

        <!-- mobile navbar-->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('get_recipes') }}" class="grey-text text-darken-4">Home</a></li>
            <li><a href=".html" class="grey-text text-darken-4">Recipe Search</a></li>
            <li><a href=".html" class="grey-text text-darken-4">Ingredients index</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('myrecipes', username=session['user']) }}" class="grey-text text-darken-4">MyRecipes</a></li>
                <li><a href="{{ url_for('add_recipe') }}" class="grey-text text-darken-4">Add a recipe</a></li>
                <li><a href="{{ url_for('sign_out') }}" class="grey-text text-darken-4">Sign Out!</a></li>
            {% else %}
                <li><a href="{{ url_for('sign_in') }}" class="grey-text text-darken-4">Sign In!</a></li>
                <li><a href="{{ url_for('join_free') }}" class="grey-text text-darken-4">Join Free</a></li>
            {% endif %}
        </ul>
    </header>

    <!--banner + search box -->
    <section class= "blue-grey lighten-5">
        <div class="blue-grey lighten-5">
            <div class="bg-header">
                <br>
                 <h1 class="header center-align grey-text text-lighten-5"> FOR FLEXITARIANS & BRAND NEW VEGANS! </h1>     
            </div>
            <div class="container">
                <form action= "" method="">
                    <div class="card-panel grey lighten-5 z-depth-4 input-field" id="margin">
                        <!-- change to search box-->
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="fas fa-search"> Find a recipe !</i></label>
                        <i class="material-icons">close</i>   
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!--why vegan? DONDE PONERLO-->
    {% if not session.user %}
    <section class= "blue-grey lighten-5"> 
        <div class="container">
            <div class="section">
                <h2 class="center light-blue-text">Why vegan?</h2>
            </div>
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img src="static/images/icons/animal_welfare.png" alt="" class="circle responsive-img" id= "custom">
                        <h5 class="center">Animal welfare</h5>
                        <p class="light flow-text">In the Netherlands alone 1.8 million animals die every day for the food industry ... 
                        DAILY! Worldwide there are more than 60 billion animals kept for the food industry, on an unprecedented 
                        scale which will only continue to increase by one still growing world population.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img src="static/images/icons/climate_change.png" alt="" class="circle responsive-img" id= "custom">
                        <h5 class="center">The impact of the animal food industry on the environment</h5>
                        <p class="light flow-text">In the Netherlands 40% of the total climate load is caused by the animal food industry.
                        Worldwide this is about 20% which makes this a greater polluter than the whole transport sector with all
                        its aircraft and oil tankers. It is simply bizarre how much water and food must be produced to feed a cow 
                        to ultimately achieve 1 kg of meat. Many meat eaters say the soybean industry is so bad for the environment, 
                        and yes that's right. However, more needs to be done when 75% of all soy nutrition goes to the animal industry. 
                        The result is one enormous attack on nature, acidification from farmland by the huge amounts of manure and 
                        massive deforestation.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img src="static/images/icons/health_icon.jpg" alt="" class="responsive-img" id= "custom">
                        <h5 class="center">Your own health</h5>
                        <p class="light flow-text">Everything seems to indicate that one plant-based diet is many times healthier for us than an 
                        animal-based diet with proteins and fats. What a recognized fact is that processed meat like ham, salami, 
                        burgers and sausages, is carcinogenic and in the same WHO category such as smoking and asbestos. Also eating a 
                        lot of meat ensures more fat deposits in the blood vessels (cholesterol) which later in life can lead to various
                        heart and vascular disease. I think that many of us are ready are for the next step. I like the concept of 
                        flexitarian whereas at least three vegan days a week must be completed. So no meat, no fish and no dairy, from 
                        breakfast until dinner, a completely vegetable day. </p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </section>
    {% endif %}

    <!--carrousel categories NNED TO BE MOVE TO THE CATEGORY SECTION -->
    <section>
        <h3 class="center-align light-blue-text">Categories</h3>
        <div class="carousel">
            <a class="carousel-item" href="#breakfast!"><img src="static/images/categories/breakfast.PNG"></a>
            <a class="carousel-item" href="#lunch!"><img src="static/images/categories/lunch.PNG"></a>
            <a class="carousel-item" href="#salads!"><img src="static/images/categories/salads.PNG"></a>
            <a class="carousel-item" href="#borrel!"><img src="static/images/categories/borrel.PNG"></a>
            <a class="carousel-item" href="#soup!"><img src="static/images/categories/soups.PNG"></a>
            <a class="carousel-item" href="#dinner!"><img src="static/images/categories/dinner.PNG"></a>
        </div>
    </section>

    <!-- flash messages-->
    <section>    
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="brown lighten-4 left-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    
    
    
    
    
    
    <footer class="page-footer blue-grey lighten-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="orange-text text-lighten-5">Footer Content</h5>
                <p class="orange-text text-lighten-5">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="amber-text text-accent-3">Links</h5>
                <ul>
                  <li><a class="orange-text text-lighten-5" href="#!">Link 1</a></li>
                  <li><a class="orange-text text-lighten-5" href="#!">Link 2</a></li>
                  <li><a class="orange-text text-lighten-5" href="#!">Link 3</a></li>
                  <li><a class="orange-text text-lighten-5" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container orange-text text-lighten-5">
            © 2020 Copyright Text
            </div>
          </div>
        </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" ></script>
    {% block scripts %}
    {% endblock %}

</body>
</html>