<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" 
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Recipes Manager</title>
</head>
<body>

    <header>
    <!-- top navbar-->
        <nav class="nav-extended text-shadow lime lighten-5">
            <div class="nav-wrapper amber-text text-accent-3">
            <a href="{{ url_for('get_recipes') }}" class="brand-logo amber-text text-accent-3"><i class="fas fa-book fa-1.5x"> EasyChef</i></a> 
            <a href="#" data-target="mobile-demo" class="sidenav-trigger amber-text text-accent-3"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('get_recipes') }}" class="amber-text text-accent-3">Home</a></li>
                <li><a href=".html" class="amber-text text-accent-3">Recipe Search</a></li>
                <li><a href=".html" class="amber-text text-accent-3">Ingredients index</a></li>
                {% if session.user %}
                    <li><a href="{{ url_for('myrecipes', username=session['user']) }}" class="amber-text text-accent-3">MyRecipes</a></li>
                    <li><a href=".html" class="amber-text text-accent-3">Add a recipe</a></li>
                    <li><a href="{{ url_for('sign_out') }}" class="amber-text text-accent-3">Sign Out!</a></li>
                {% else %}
                    <li><a href="{{ url_for('sign_in') }}" class="amber-text text-accent-3">Sign In!</a></li>
                    <li><a href="{{ url_for('join_free') }}" class="amber-text text-accent-3">Join Free</a></li>
                {% endif %}
            </ul>
            </div>
        </nav>

        <!-- mobile navbar-->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('get_recipes') }}" class="amber-text text-accent-3">Home</a></li>
            <li><a href=".html" class="amber-text text-accent-3">Recipe Search</a></li>
            <li><a href=".html" class="amber-text text-accent-3">Ingredients index</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('myrecipes', username=session['user']) }}" class="amber-text text-accent-3">MyRecipes</a></li>
                <li><a href=".html" class="amber-text text-accent-3">Add a recipe</a></li>
                <li><a href="{{ url_for('sign_out') }}" class="amber-text text-accent-3">Sign Out!</a></li>
            {% else %}
                <li><a href="{{ url_for('sign_in') }}" class="amber-text text-accent-3">Sign In!</a></li>
                <li><a href="{{ url_for('join_free') }}" class="amber-text text-accent-3">Join Free</a></li>
            {% endif %}
        </ul>
    </header>

    <section>
        <!--banner -->
        <div class="">
            <div class="bg-header">
                <br>
                 <h1 class="header center-align teal-text text-lighten-2">Yummy Food, simplified cooking !</h1>     
            </div>
            <div class="container">
                <form action= "" method="">
                    <div class="card-panel grey lighten-5 z-depth-1 input-field">
                        <!-- change to search box-->
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="fas fa-search"> Find a recipe !</i></label>
                        <i class="material-icons">close</i>   
                    </div>
                </form>
            </div>
        </div>
        <!--categories -->
        <div class="row">
            <div class="grid-example col s12 m6 offset-m1 l2  offset-l1">
                <div class="card small">
                    <div class="card-image">
                        <img src="static/images/breaksfast.jpg" alt="" class="responsive-img same-size"> 
                    </div>
                    <div class="card-action">
                        <a href="#">Breakfast</a>
                    </div>
                </div>
            </div>
            <div class="grid-example col s12 m6 l2">
                <div class="card small">
                    <div class="card-image">
                        <img src="static/images/lunch.jpg" alt="lunch image" class="responsive-img same-size"> 
                    </div>
                    <div class="card-action">
                        <a href="#">Lunch</a>
                    </div>
                </div>
            </div>
            <div class="grid-example col s12 m6 l2">
                <div class="card small">
                    <div class="card-image">
                        <img src="static/images/snacks.jpg" alt="snacks image" class="responsive-img same-size"> 
                    </div>
                    <div class="card-action">
                        <a href="#">Snacks</a>
                    </div>
                </div>
            </div>
            <div class="grid-example col s12 m6 l2">
                <div class="card small">
                    <div class="card-image">
                        <img src="static/images/dinner.jpg" alt="dinner image" class="responsive-img same-size"> 
                    </div>
                    <div class="card-action">
                        <a href="#">Dinner</a>
                    </div>
                </div>
            </div>
            <div class="grid-example col s12 m6 l2">
                <div class="card small">
                    <div class="card-image">
                        <img src="static/images/desserts.jpg" alt="" class="responsive-img same-size"> 
                    </div>
                    <div class="card-action">
                        <a href="#">Desserts</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- flash messages-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="amber center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    
    <footer class="page-footer orange">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="orange-text text-lighten-5">Footer Content</h5>
                <p class="orange-text text-lighten-5">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="amber-text text-accent-3">Links</h5>
                <ul>
                  <li><a class="orange-text text-lighten-5" href="#!">Link 1</a></li>
                  <li><a class="orange-text text-lighten-5" href="#!">Link 2</a></li>
                  <li><a class="orange-text text-lighten-5" href="#!">Link 3</a></li>
                  <li><a class="orange-text text-lighten-5" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container orange-text text-lighten-5">
            © 2020 Copyright Text
            </div>
          </div>
        </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" ></script>
    {% block scripts %}
    {% endblock %}

</body>
</html>