{% extends "base.html" %}
{% block content %}

    <h3 class="center-align light-blue-text">Manage Categories</h3>
    
    <div class="row">
        {% for category in categories %}
            <div class="col s12 m4">
                <div class="card amber accent-4 text-shadow center-align">
                    <div class="card-image">
                        <img class="same-size" src="{{ category.category_image }}"> <!--SIZE NEEDS TO BE ADJUSTED -->
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">{{ category.category_name}}</span>
                    </div>
                    <div class="card-action">
                        <a href="" class = "btn brown lighten-2">Edit</a>
                        <a href="" class = "btn brown lighten-2">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}