{% extends "base.html" %}
{% block content %}

    <h3 class="center-align light-blue-text">Edit Recipe</h3>

        <div class="row card-panel grey lighten-5">
            <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                <!-- Category selection-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix light-blue-text"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled>Choose Category</option>
                            {% for category in categories %}
                                {% if category.category_name == recipe.category_name %}
                                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                                {% else %}
                                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="category_name">Category Name</label>
                    </div>
                </div>
                <!-- Recipe name-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-blue-text"></i>
                        <input id="recipe_name" name="recipe_name" minlength="5" maxlenght="50" 
                            value = "{{ recipe.recipe_name }}" type="text" class="validate" required>
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                </div>
                <!-- Description-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix light-blue-text"></i>
                        <textarea id="recipe_description" name="recipe_description" data-length="300" 
                            class="materialize-textarea validate">
                        {{- recipe.recipe_description -}}    
                        </textarea>
                        <label for="recipe_description">Description</label>
                    </div>
                </div>
                <!-- Basic ingredients-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-shopping-basket prefix light-blue-text"></i>
                        <textarea id="basic_ingredients" name="basic_ingredients" 
                            data-length="300" class="materialize-textarea validate" required>
                            {{- recipe.basic_ingredients -}}    
                        </textarea>
                        <label for="basic_ingredients">Ingredients please add them separated by a comma!</label>
                    </div>
                </div>
                <!-- Complementary ingredients-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-plus-square prefix light-blue-text"></i>
                        <textarea id="complementary_ingredients" name="complementary_ingredients" 
                            data-length="300" class="materialize-textarea validate">
                            {{- recipe.complementary_ingredients -}}  
                        </textarea>
                        <label for="complementary_ingredients">Complement with: ingredients please add them separated by a comma! </label>
                    </div>
                </div>
                <!-- Steps--> <!-- DISCUSS FORMAT STEP1 AND STEP2 TO OBLY USER TO KEEP STANDARD FORMAT!-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-utensils prefix light-blue-text"></i>
                        <textarea id="recipe_method" name="recipe_method" 
                            data-length="1000" class="materialize-textarea validate" required>
                            {{- recipe.recipe_method -}}  
                        </textarea>
                        <label for="recipe_method">Steps please step 1, step 2, step 3 </label>
                    </div>
                </div>
                <!-- Closing line-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-exclamation prefix light-blue-text"></i>
                        <textarea id="closing_line" name="closing_line" data-length="100" 
                            class="materialize-textarea validate">
                            {{- recipe.closing_line -}} 
                        </textarea>
                        <label for="closing_line">Remarks!</label>
                    </div>
                </div>
                <div class="row">
                <!-- Share online checkbox--> <!-- CHECKBOX DOES NOT UPDATE WHEN UPDATING-->
                    <div class="input-field col s6">
                        <div class="switch">
                            <i class="far fa-thumbs-up prefix light-blue-text"></i>
                            <label for="share_recipe">
                                {% if recipe.share_recipe == "on" %}
                                    <input type="checkbox" id="share_recipe" name="share_recipe" checked>
                                {% else %}
                                    <input type="checkbox" id="share_recipe" name="share_recipe">
                                {% endif %}
                                <span class="lever"></span>
                                Would you like to share this recipe with others?
                            </label>
                        </div>
                    </div>
                     <!-- Added image url-->
                    <div class="input-field col s6">
                        <i class="fas fa-camera material-icons prefix left light-blue-text"></i>
                        <input id="recipe_images" name="recipe_images" class="validate" type="url" minlength="15" 
                            value="{{ recipe.recipe_images }}" pattern="https?://.+" >
                        <label for="recipe_images">Image Url</label>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 left">
                        <!-- cancel button -->
                        <a href="{{ url_for('get_recipes') }}" class = "btn-large red text-shadow">
                            Cancel <i class="fas fa-times-circle right"></i>
                        </a>
                        <button type="submit" class="btn-large light-blue  text-shadow">
                            Edit Recipe <i class="fas fa-edit right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        

{% endblock %}