{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel">
                <h3 class="center-align light-blue-text">
                    {{ username }}'s Profile
                    <!-- #add all the task created by the user or recipes
                    <div class="background">
                        <img src="images/office.jpg">
                    </div>
                    <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                    <a href="#name"><span class="white-text name">John Doe</span></a>
                    <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div>-->
                </h3>
            </div>
        </div>
    </div>

{% endblock %}