{% extends "base.html" %}
{% block content %}
    
    <h2></h2>

    {% for recipe in recipes %}
        {{ recipe.name }}<br>
        {{ recipe.category_name }}<br>
        <img src= "{{ recipe.image }}">
        {{ recipe.prep_time }}<br>
        {{ recipe.portions }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.steps }}<br>
        {{ recipe.calories }}<br>
        {{ recipe.url }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

{% endblock %}
