{% extends "base.html" %}
{% block content %}
    

    <h3 class="center-align light-blue-text">All Recipes</h3>
    <!--change this to card with images and the info below collapsible-->
    
        
    <!--PENDING HOW TO MAKE THEM DISPLAY SIDE BY SIZE-->
    <div class="row"> 
        {% for recipe in recipes %}
        <div class="col s12 m6  l4">
            <div class="card horizontal large">
                <div class="card-image">
                    <img class="responsive-img" src="{{ recipe.recipe_images }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4"><strong>{{ recipe.recipe_name }}</strong></span>
                        <!--ADD CONDITIONAL TO SHOW IF AVAILABLE-->
                        <p>{{ recipe.recipe_description }}</p>
                        <p>{{ recipe.category_name }}</p>
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Basic Ingredients: </div>
                                <div class="collapsible-body">
                                    {% for basic_ingredient in recipe.basic_ingredients %}
                                    <span id="bullet"> {{ basic_ingredient }}</span>
                                    {% endfor %}
                                </div>    
                            </li>
                            <!--ADD CONDITIONAL TO SHOW IF AVAILABLE-->
                            {% if complementary_ingredients == [""] %}
                            <li>
                                <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Complement with: </div>
                                <div class="collapsible-body">
                                    {% for complementary_ingredient in recipe.complementary_ingredients %}
                                    <span id="bullet"> {{ complementary_ingredient }}</span>
                                    {% endfor %}
                                </div>
                            </li>
                            {% endif %}
                            <!--unpacking not working because is an object-->
                            <li>
                                <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Method: </div>
                                <div class="collapsible-body">
                                    {% for recipe_method in recipe.recipe_method  %}
                                    <span> {{ recipe_method }}</span>
                                    {% endfor %}
                                </div>    
                            </li>
                            <!--ADD CONDITIONAL TO SHOW IF AVAILABLE-->
                            <li>
                                <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Method2: </div>
                                <div class="collapsible-body">
                                    {% for recipe_method in recipe.recipe_method  %}
                                    <span> {{ recipe_method }}</span>
                                    {% endfor %}
                                </div>    
                            </li>
                            <!--ADD CONDITIONAL TO SHOW IF AVAILABLE-->
                            <h5 class="center-align">{{ recipe.closing_line }}</h5>
                        </ul>
                    </div>
                    <div class="card-action">
                        <a href="#" class="btn-small amber accent-4">Done</a>
                        <a href="#" class="btn-small amber accent-4">Edit</a>
                    </div>
                    <!--WHEN WE SHARE RECIPE TO THE PUBLIC CREATED BY SHOULD BE REPLACE FOR BOTTOMS-->
                    <!--<div class="card-action">
                        <p><em> by:{{ recipe.created_by }} </em></p>
                    </div>-->
                </div>
            </div>
        </div>    
        {% endfor %}
    </div>
       
{% endblock %}

