{% extends "base.html" %}
{% block content %}
    
    <h2></h2>

    <h3 class="center-align light-blue-text">All Recipes</h3>
    <!--change this to card with images and the info below collapsible-->
    
        {% for recipe in recipes %}
        <!--PENDING HOW TO MAKE THEM DISPLAY SIDE BY SIZE-->
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card horizontal large">
                    <div class="card-image">
                        <img class="same-size" src="{{ recipe.recipe_images }}">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4"><strong>{{ recipe.recipe_name }}</strong></span>
                            <p>{{ recipe.recipe_description }}</p>
                            <ul class="collapsible">
                                <li>
                                    <div class="collapsible-header"><i class="far fa-caret-square-down"></i>{{ recipe.category_name }} </div>
                                    <div class="collapsible-body">
                                        <p>{{ recipe.basic_ingredients }}</p>
                                        <p>{{ recipe.complementary_ingredients }}</p>
                                        <p>{{ recipe.method }}</p>
                                        <h5>{{ recipe.closing_line }}</h5>
                                </li>
                            </ul>
                        </div>
                        <div class="card-action">
                            <p><em> by:{{ recipe.created_by }} </em></p>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        {% endfor %}


{% endblock %}

