{% extends "base.html" %}
{% block content %}
    
	<div class="">
		<div class="row center">
			<h3 class="">{{ recipe.recipe_name }}</h3>
            {% if recipe.recipe_description|length > 0 %} 
                <p class="light flow-text">{{ recipe.recipe_description }}</p>
            {% endif %}
            <div class="card-panel amber accent-3 padding">
                <p style="text-transform:uppercase;"><a href="#">{{ recipe.category_name }}</a></p> <!--PENDING to hook to the corresponding category search) -->
			</div>
			<div class="card horizontal">
				<div class="card-image">
					<img class="responsive-img" src="{{ recipe.recipe_images }}">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<div class="row left-align">
							<p style="text-transform:uppercase;"><i class="fas fa-clock icon-color"></i> 
                             Cooks In : {{ recipe.recipe_time }}</p>
                        </div>
						<div class="row left-align">
							<p style="text-transform:uppercase;"> <i class="fas fa-layer-group"></i>
                             Difficulty : {{ recipe.recipe_difficulty }}</p>
						</div>
                        <div class="row left-align">
							<p style="text-transform:uppercase;"> <i class="fas fa-at"></i>
                             <em> by:{{ recipe.created_by }} </em></p>
						</div>
					<div class="card-action">
						<p class="right-align"></p>
					</div>
                    <div class="card-action">
                    {% if session["user"]|lower == recipe.created_by|lower %}
                        <!--ADD delete DEFENSIVE PROGRAMING USER MUST CONFIRM IF THEY WANT TO REALLY DELETE TASK-->
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small amber accent-4">DELETE</a>
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small amber accent-4">EDITt</a>
                    {% else %}
                        <a class="btn grey darken-2 tooltipped" data-position="bottom" data-tooltip="Is this you recipe?">EDIT</a>
                        <a class="btn grey darken-2 tooltipped" data-position="bottom" data-tooltip="Is this you recipe?">DELETE</a>
                    {% endif %}
                    </div>
				</div>
			</div>
		</div>
    </div>

{% endblock %}

    <!--PENDING HOW TO MAKE THEM DISPLAY SIDE BY SIZE--> 
    <!-- <div class="row"> 
        {% for recipe in recipes %}
        <div class="col s12 m6  l4">
            <div class="card horizontal large">
                <div class="card-image">
                    <img class="responsive-img" src="{{ recipe.recipe_images }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4"><strong>{{ recipe.recipe_name }}</strong></span>
                        {% if recipe.recipe_description|length > 0 %} 
                            <p>{{ recipe.recipe_description }}</p>
                        {% endif %}
                        <p>{{ recipe.category_name }}</p>
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Basic Ingredients: </div>
                                <div class="collapsible-body">
                                    {% for basic_ingredient in recipe.basic_ingredients %}
                                    <span id="bullet"> {{ basic_ingredient }}</span>
                                    {% endfor %}
                                </div>    
                            </li>
                            {% if recipe.complementary_ingredients|length > 0 %} 
                            <li>
                                <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Complement with: </div>
                                <div class="collapsible-body">
                                    {% for complementary_ingredient in recipe.complementary_ingredients %}
                                    <span id="bullet2"> {{ complementary_ingredient }}</span>
                                    {% endfor %}
                                </div>
                            </li>
                            {% endif %}--> 
                            <!--unpacking not working because is an object-->
                            <!-- <li>
                                <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Method: </div>
                                <div class="collapsible-body">
                                    {% for recipe_method in recipe.recipe_method  %}
                                    <span> {{ recipe_method }}</span>
                                    {% endfor %}
                                </div>    
                            </li>
                            {% if recipe.recipe_method2|length > 0 %}
                            <li>
                                <div class="collapsible-header"><i class="far fa-caret-square-down"></i>Method2: </div>
                                <div class="collapsible-body">
                                    {% for recipe_method in recipe.recipe_method2  %}
                                    <span> {{ recipe_method }}</span>
                                    {% endfor %}
                                </div>    
                            </li>
                            {% endif %}
                            {% if recipe.closing_line|length > 0 %}
                            <h6 class="center-align">{{ recipe.closing_line }}</h5>
                            {% endif %}
                        </ul>
                    </div>  
                </div>
            </div>
        </div>    
        {% endfor %} 
    </div> --> 

    
