{% extends "base.html" %}
{% block content %}
        

    <section class="container">
        <!-- Recipe container (template from Cookbook and Jamie Oliver)-->
        <div class="container">
            <br>
            <div class="row center">
                <!-- Recipe name -->
                <div class="single-recipe col-xs-12">
                    <h3 class="tittle left-align">{{ recipe.recipe_name }}</h3>
                    <!-- Recipe description -->
                    {% if recipe.recipe_description|length > 0 %}
                        <p class="subheading light flow-text">{{ recipe.recipe_description }}</p>
                    {% endif %}
                </div>
                <!-- Recipe category -->
                <div class="float-wrapper">
                    <div class="card-panel yellow accent-4 category-tittle">
                        <p><a href="#">{{ recipe.category_name }}</a></p>
                        <!--PENDING to hook to the corresponding category search) -->
                    </div>
                </div>
            </div>
        
            <div class="row recipe-summary">
                <div class="card horizontal">
                    <div class="card-image">
                        <img class="responsive-img z-depth-3"
                        src="{{ recipe.recipe_images }}" alt="Recipe Images">
                    </div>
                    <div class="card-stacked lime lighten-4">
                        <div class="card-content">
                            <div class="row">
                            <br>
                                <p class="subheading light flow-text"><i class="fas fa-clock icon-color"></i>
                                    Cooks In : {{ recipe.cooking_time }} mins
                                </p>
                            </div>
                            <div class="row ">
                                <p class="subheading light flow-text"> <i class="fas fa-layer-group"></i>
                                    Difficulty : {{ recipe.recipe_difficulty }}</p>
                                </div>
                            <div class="row">
                                <p class="subheading light flow-text"> <i class="fas fa-at"></i>
                                    Recipe by : <span class="created bold"> {{ recipe.created_by }} </span>
                                    <span class="created">on {{ recipe.created_date }} </span>
                                    </p>
                            </div>
                            <!--Control if user to access delete/edit options-->
                            <div class="row center">
                                {% if session["user"]|lower == recipe.created_by|lower %}
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }} " class="btn-small amber accent-4">EDIT</a>
                                <!--Defensive Programming for User to reconfirm DELETE action (Similar approach from other students and materialize)-->
                                <a href="#delete_recipe-{{recipe._id}}" class="btn-small amber accent-4 modal-trigger"
                                    data-target="delete_recipe-{{recipe._id}}">DELETE</a>
                                <div id="delete_recipe-{{recipe._id}}" class="modal">
                                    <div class="modal-content center-align">
                                        <h5>Do you want to delete this recipe?</h5>
                                        <br>
                                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                            class="btn btn-small red modal-close">Delete</a>
                                        <a href="#" class="btn btn-small black modal-close">Cancel</a>
                                    </div>
                                </div>
                                {% else %}
                                <a class="btn-small grey darken-2 tooltipped" data-position="bottom"
                                    data-tooltip="Is this you recipe?">EDIT</a>
                                <a class="btn grey darken-2 tooltipped" data-position="bottom"
                                    data-tooltip="Is this you recipe?">DELETE</a>
                                {% endif %}
                            </div>	
                        </div>
                    </div>
                    </div>
                </div>

            <!-- Template inspiration from Cookbook and Jamie Oliver -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="row">
                        <!-- Ingredient -->
                        <div class="col s12 ingredients-bullets">
                            <h5 class="tittle left-align">Ingredients</h5>
                            <!-- Added javascript code to add ingredients as an array -->
                            <ul>
                                {% for basic_ingredient in recipe.basic_ingredients %}
                                <li class="ingredient-font flow-text">
                                    {{ basic_ingredient }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Complement with :  -->
                        {% if recipe.complementary_ingredients|length > 0 %}
                        <div class="col s12 ingredients-bullets">
                            <h5 class="tittle left-align">Completement this with </h5>
                            <!-- Added javascript code to add complent ingredients as an array -->
                            <ul>
                                {% for complementary_ingredient in recipe.complementary_ingredients %}
                                    <li class="ingredient-font flow-text">
                                        {{ complementary_ingredient }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- Method -->
                <div class="col s12 offset-m1 m7 instructions">
                    <div class="row">
                        <div class="col s12">
                            <h5 class="tittle center-align">Instructions</h5>
                            <!-- Added javascript code to add instructions as an array -->
                            {% for step in recipe.recipe_method %}
                            <li class="method-font flow-text">
                                Step {{ loop.index }} : {{ step }}
                            </li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Closing line -->
            <div class="row">
            {% if recipe.closing_line|length > 0 %}
                <h5 class="close-font center-align">{{ recipe.closing_line }}</h5>
            {% endif %}
            </div>
        
        </div>
    </section


{% endblock %}